# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Secrets
server/service-account.json
server/.env
client/.env
client/.env.production
client/.env.local

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build
client/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
client/.env.production
client/.env
client/.env.local
server/.env


echo node_modules/ > "E:\Google Hackathon\fair-lens\server\.gcloudignore"
echo .env >> "E:\Google Hackathon\fair-lens\server\.gcloudignore"
echo *.log >> "E:\Google Hackathon\fair-lens\server\.gcloudignore"
echo .git >> "E:\Google Hackathon\fair-lens\server\.gcloudignore"